* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header and nav bar */
header {
  background-color: #005582;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0px;
}

a {
  text-decoration: none !important;
  text-align: center;
  color: white !important;
}
svg {
  color: white;
}

.menu-item {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-item {
  padding: 5px;
}

nav {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

nav li {
  cursor: pointer;
}

/* home page, left profile, center comments & footer */
.homeContainer {
  background-color: #d0f4de;
}
.sideBar {
  height: 100%;
  width: auto;
  top: 33.35vh;
  left: 0;
  background: linear-gradient(#133c55, #34a0a4, #133c55);
  overflow-x: hidden;
  padding: 20px 20px;
  color: #fff;
}
.responseForm {
  float: right;
}

div.col-sm-9 {
  padding: 20px;
  margin: 20px 5% 10px 0px;
}

div.col {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid #fff; */
}

.footer {
  background-color: #133c55;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

/*  steam page */
.steamContainer {
  background-color: #233038;
  padding: 30px;
}

.steamInfo {
  border: 1px solid #233038;
  padding: auto;
  margin: auto;
  width: 60%;
  text-align: center;
}

.steamIcon {
  text-align: center;
  color: white;
}

/* epic page */
.epicContainer {
  background-color: #4e5c64;
  padding: 30px;
}

.epicInfo {
  border: 1px solid #233038;
  padding: auto;
  margin: auto;
  width: 60%;
  text-align: center;
}

/* discord or other page */
.discordInfo {
  border: 1px solid #133c55;
  padding: 10px;
  margin: auto;
  text-align: center;
}

/* login page */
.loginContainer {
  font-family: arial;
  font-size: 20px;
  margin: auto;
  padding: 100px;
  width: 100%;
  height: 100%;
  outline: dashed 1px black;
  background-color: #00c2c7;
}

.loginCard {
  width: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border: 3px solid #005582;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 30px #daf8e3;
}

h4.card-header {
  background: linear-gradient(#0086ad, #daf8e3);
}

div.card-body {
  background-color: #daf8e3;
}

.subButton {
  border: 1px solid black;
  width: 50%;
  margin-top: 1%;
  border-radius: 10px;
}

input#email.form-input {
  margin: 1%;
}

input {
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  header {
    width: 100%;
  }
  input {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
}
@media screen and (max-width: 412px) {
  header {
    width: 100%;
    flex-direction: column;
  }

  nav ul {
    display: flex;
    font-size: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: auto;
  }
  li {
    padding-left: 5px;
    margin: 0 auto 0 auto;
  }
}
